@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
	background-color: #e5e5e5;
	margin: 0;
	font-family: "Source Sans Pro",arial,sans-serif;
    font-weight: 300;
    font-size: 13pt;
    line-height: 1.5em;
    color: #b3b3b3;
}

ol, ul {
    list-style: none;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;

	> div {
		padding-left: 1em;
		padding-right: 1em;		
	}
}
.main-page {
	color: black;
	img {
		width: 100%;
	}
	.container > div {
    	padding-top: 50px;
    	padding-bottom: 50px;
	    background-color: #fff;
	    position: static;
	    text-align: center;
    }
}

.user-page {
	color: black;
	#header {
		.container {
			> div {
				padding-top: 10px;
				padding-bottom: 1px;
			    background-color: #fff;
			    position: static;
			}
		}
	}
	#user {
		.container {
			> div {
				padding-top: 10px;
				padding-bottom: 120px;
			    background-color: #fff;
			    position: static;
		    	ul {
		    		margin-left: 15px;
		    	}
			    .create-character {
			    	> form {
			    		> label {
			    			margin-right: 5px;
			    		}
			    		> input {
			    			margin-right: 25px;
			    		}
			    		> input[type="submit"] {
    						background-color: #4499dc;
						    text-decoration: none;
						    text-transform: uppercase;
						    line-height: 16px;
						    font-size: 13pt;
						    color: white;
						    border: 0px solid red;
    						border-radius: 5px;
    						padding: 6px;
			    		}
			    	}
			    }
			}
		}
	}
}

.character-page {
	color: black;
	text-transform: uppercase;
	input {
		text-align: center;
		border-style: none;
	}
	table {
		width: 100%;

		th {
			font-size: 12px;
		}

		th, td {
		    border-bottom: 1px solid #ddd;
		    text-align: center;
		}

		input {
			width: 90%;
		}
    }

    button {
		background-color: #4499dc;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		border: 0px solid red;
  		border-radius: 5px;
    }
    .character-menu {
	    > div {

	    	p {
	    		display: inline-block;
	    	}

			> div {
				display: inline-block;
				float: right;
				a {
					margin-left: 32px;
					background-color: #4499dc;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 13pt;
					color: white;
					border: 0px solid red;
    				border-radius: 5px;
    				padding: 4px;
				}
			}
    	}
    }
	.container {
		> div {
			padding-top: 10px;
			padding-bottom: 50px;
		    background-color: #fff;
		    position: static;
	    }

    	.character {
    		.character-header {
    			padding-bottom: 15px;
	    		div {
					display: inline-block;
					width: 275px;
					text-align: right;
					label {
						padding-right: 5px;
					}
				}
	    	}
	    	main {

		    	section {
		    		> div {
		    			padding-bottom: 10px;
		    		}
		    		.health {
						> div {
							display: inline-block;
							width: 268px;
		    				label {
		    					padding-right: 10px;
		    				}
		    			}
		    		}
		    		.AC-wrapper {
						table {
							th {
								font-size: 10px;
							}
							th, td {
							    width: 50px;
							}
						}
		    		}
		    		.initaitive, .AC-wrapper, .CMB, .CMD {
		    			padding: 0;
						th, td {
						    border-bottom: 0px solid #ddd;
						}
		    		}
		    		.initaitive-wrapper, .CMB-wrapper, .CMD-wrapper {
		    			div {
		    				display: inline-block;
		    				float: left;
		    			}
		    			table {
		    				display: inline-block;
		    				width: 85%;
		    				th, td {
		    					padding: 0;
		    					width: 150px;
		    				}
		    			}
		    		}

		    		.babdrsr {
		    			div {
		    				padding-right: 20px;
		    				display: inline-block;
		    			}
		    			label {
		    				padding-right: 15px;
		    			}
		    			input {
		    				width: 50px;
		    			}
		    		}

		    		.xp-points, .carrying-capacity {
		    			div {
		    				display: inline-block;
							width: 260px;
		    				label {
		    					padding-left: 10px;
		    				}
		    				> input {
		    					width: 40%;
		    					float: right;
		    				}

		    			}
		    		}

		    		.speed {
		    			div {
		    				display: inline-block;
		    				width: 260px;
		    				
		    				label {
		    					padding-left: 5%;
		    				}

		    				p {
		    					margin: 0;
							    display: inline-block;
							    float: right;
							    font-size: .5rem;
		    				}

		    				input {
		    					width: 30%;
		    					float: right;
		    				}

		    			}
		    		}

		    		.languages {
		    			textarea {
		    				width: 100%;
		    			}
		    		}
		    	}
				div {
					.stuff {
						> div {
				    		display: inline-block;
							vertical-align: top;
				    		width: 75%;
						}

						.gear-container {
				    		display: inline-block;
							vertical-align: top;
				    		width: 25%;
						}
					}
					.background {
						textarea {
							width: 100%;
							height: 200px;
						}
			    	}
				}
	    	}
    	}
	}
}

.login-page, .signup-page {
    text-align: center;
    width: 250px;
    margin: 50px auto;
    background-color: #4499dc;
    border-radius: 25px;
    padding: 27px;
	h1 {
		display: block;
		letter-spacing: -1px;
		text-align: center;
		text-decoration: none;
		text-shadow: -1px -1px 0px #2C7485;
		text-transform: uppercase;
		font-size: 44pt;
		font-weight: 200;
		color: #FFFFFF;
	}
	.login, .signup {
	    > form > div {
	    	float: right;
	    	> label {
			    padding: 30px 10px 0px 0px;
			    letter-spacing: -1px;
			    text-align: center;
			    text-decoration: none;
			    text-shadow: -1px -1px 0px #2C7485;
			    text-transform: uppercase;
			    font-weight: 200;
			    color: #FFFFFF;
	    	}

	    }
	}

	input[type="submit"], a {
		width: 40%;
		display: inline-block;
    	margin: 10px;
		text-decoration: none;
	    text-transform: uppercase;
	    line-height: 45px;
	    font-size: 13pt;
	    color: #16576B;
	    background: none;
    	border: none;
    }

    input[type="submit"] {
		background-color: #16576b;
	    color: #4499dc;
	    border-radius: 10px;
    }
}

.nav-bar {
	padding-top: 3em;
	background-color: #4499dc;
	#logo {
	    overflow: hidden;
	    text-align: center;
	    h1 {
	    	display: block;
		    padding: 30px 0px 0px 0px;
		    letter-spacing: -1px;
		    text-align: center;
		    text-decoration: none;
		    text-shadow: -1px -1px 0px #2C7485;
		    text-transform: uppercase;
		    font-size: 36pt;
		    font-weight: 200;
		    color: #FFFFFF;
	        line-height: 120%;
	    }
	}
	#menu {
		    height: 90px;
		ul {
			text-align: center;
			li {
				display: inline-block;
    			padding: 0px 20px;
	    		a {
		    		display: block;
				    float: left;
				    margin-right: 2px;
				    text-decoration: none;
				    text-transform: uppercase;
				    line-height: 45px;
				    font-size: 13pt;
				    color: #16576B;
		    	}
		    }
		}
	}
	h1 {
		padding: 0.83em;
    	margin: 0;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;

		> div {
		   	padding-left: 3em;
		   	padding-right: 3em;
		}
	}

   	.column-left {
		display: inline-block;
		width: 49%;
		vertical-align: top;
		padding-right: 1%;
   	}

   	.column-right {
   		display: inline-block;
		vertical-align: top;
   		width: 50%;
   	}

   	.health {
		> div {
			display: inline-block;
		}
	}
	.nav-bar #logo h1 {
		font-size: 44pt;
	}
}
